@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");

.menu-container {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.menu {
    display: flex;
    margin: 0 auto;
    list-style: none;
}

.menu li {
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    margin-left: 1em;
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu li:first-child {
    border-left: none;
    padding-left: -10px;
    margin-left: -35px;
}

.menu li :hover {
    color: #74757a;
    font-weight: bold;

}

.menu a {
    text-decoration: none;
    font-family: "Raleway", Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 850px) {
    .menu-container {
        height: 150px;
    }
    .menu {
      flex-direction: column;
      align-self: center;
    }
    .menu li {
      margin: 5px;
      border-left: none;
      margin-left: 0;
      padding-left: 0;
    }

    .menu li:first-child {
        padding-left: 0;
        margin-left: 0;
    }
}
